@{
    ViewData["Title"] = "Transações Financeiras";
}

<h1>@ViewData["Title"]</h1>

<button class="btn btn-primary btn-block" type="button" onclick="Novo()">Registrar transação</button>

<table class="table table-bordered mt-2">
    <thead>
        <tr>
            <th>Id</th>
            <th>Historico</th>
            <th>Tipo</th>
            <th>Valor</th>
            <th>Data</th>
            <th>#</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in (List<TransacaoModel>)ViewBag.ListaTransacao)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Historico</td>
                <td>@item.PlanoConta.Tipo</td>
                <td>@item.Valor</td>
                <td>@item.Data.ToLocalTime()</td>
                <td><button class="btn btn-block btn-outline-warning"
                        onclick="Atualizar(@item.Id.ToString())">Editar</button></td>
                <td><button class="btn btn-block btn-outline-danger" onclick="Excluir(@item.Id.ToString())">Excluir</button>
                </td>
            </tr>
        }

    </tbody>
</table>

<script>
    function Novo() {
        window.location.href = "/Transacao/Cadastrar";
    }

    function Atualizar(id) {
        window.location.href = "/Transacao/Cadastrar/" + id;
    }

    function Excluir(id) {
        window.location.href = "/Transacao/Excluir/" + id;
    }
</script>